---
layout: presentation.njk
title: Web-based Indoor Positioning
author: Maxim Van de Wynckel
logo: true
width: 1280
height: 720
header_logo: /images/misc/openhps-logo.svg
---
{% decktape title, page %}

<section data-markdown>
    {% markdown %}

    {% endmarkdown %}
</section>

<section data-markdown>
    <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</section>