<nav class="navigation">
  <ul>
    {% for doc in collections.sorted_docs %}
      {% if doc.data.menuOrder == 101 %}
      <li class="title">Documentation</li>
      {% elif doc.data.menuOrder == 201 %}
      <li class="title">Basic Concepts</li>
      {% elif doc.data.menuOrder == 301 %}
      <li class="title">Advanced Concepts</li>
      {% elif doc.data.menuOrder == 401 %}
      <li class="title">Tutorials</li>
      {% elif doc.data.menuOrder == 901 %}
      <li class="title">Miscellaneous</li>
      {% endif %}
      
      <li {% if page.url == doc.url %}class="selected"{% endif %}>
        <a href="{{ doc.url }}" {% if page.url == doc.url %}class="current"{% endif %}>{{ doc.data.title }}</a>
        {% if page.url == doc.url %}
        {{ content | toc | safe }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>