<script src="/scripts/twoslash.js"></script>
<footer>
    &copy; OpenHPS 2019-2025. This site is powered by <a href="https://www.netlify.com/">Netlify</a> | 
    <a href="https://github.com/OpenHPS/openhps-site/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
</footer>
