---
layout: presentation.njk
title: "POSO: A Generic Positioning System Ontology"
presentation_title: "POSO: A Generic Positioning System Ontology"
excerpt: "ISWC 2022 presentation"
author: <u>Maxim Van de Wynckel</u>, Beat Signer
logo: true
width: 1280
height: 720
affiliation: Web & Information Systems Engineering Lab</br>Vrije Universiteit Brussel
hide_openhps_logo: true
---
{% decktape title, page %}

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Spatial Representation
            - **Terminology**: "location", "place", "position", "pose", "place"
        {% endmarkdown %}

        <aside class="notes">
            
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Position
        {% endmarkdown %}

        <aside class="notes">
            
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Positioning System
        {% endmarkdown %}
        <img width="70%" src="images/architecture.svg"/>
        <aside class="notes">
        A positioning system is a system that aims to track entities in a certain area.
        The system uses various different algorithms and technnologies that are used to
        track an entity. Each entity on itself has different properties, such their position,
        their orientation or velocity that are important for the algorithms to determine their
        position.
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Positioning System ...
        {% endmarkdown %}
        <img width="100%" src="images/architecture_overview.svg"/>
        <aside class="notes">
        
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Positioning System ...
            - Satellite positioning system
            - Indoor positioning system
            - Inertial positioning system
            - Integrated positioning system
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Tracked Entities (`poso:TrackedFeature`)
            #### Subclass of `sosa:FeatureOfInterest` and `geosparql:SpatialObject`

            *A feature of interest that is being tracked by a positioning system. This is the feature for which a position is observed.*
            
            **Example:**
            ```turtle
            <me> a poso:TrackedFeature, foaf:Person ;
                foaf:name "Maxim Van de Wynckel"@en ;
                poso:hasPosition <me/position> ;
                poso:hasOrientation <me/orientation> .
            ```
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Entity Properties (`sosa:Property`)

            *A feature of interest that is being tracked by a positioning system. This is the feature for which a position is observed.*
            
            **Example:**
            ```turtle
            <me/position> a poso:AbsolutePosition ;
                rdfs:comment "Absolute position of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/position/accuracy> a ssns:Accuracy ;
                schema:maxValue "25.0"^^xsd:float ; schema:unitCode unit:CentiM .
            
            <me/orientation> a poso:Orientation ;
                rdfs:comment: "" .
            ```
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Entity Properties (`sosa:Property`)

            *A feature of interest that is being tracked by a positioning system. This is the feature for which a position is observed.*
            
            **Example:**
            ```turtle
            <me> a poso:TrackedFeature, foaf:Person ;
                foaf:name "Maxim Van de Wynckel"@en ;
                poso:hasPosition <me/position>, <me/location> ;

            <me/position> a poso:AbsolutePosition ;
                rdfs:comment "Absolute position of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/position/accuracy> a ssns:Accuracy ;
                schema:maxValue "25.0"^^xsd:float ; schema:unitCode unit:CentiM .
            
            <me/location> a poso:AbsolutePosition ;
                rdfs:comment "Approximate Location of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/location/accuracy> a ssns:Accuracy ;
                schema:minValue "10.0"^^xsd:float ; schema:unitCode unit:M .
            ```
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Positioning System

        ```turtle
        dbr:Some_Unversity a ssn:Deployment .
        <deployment/building_a> a poso:IndoorDeployment, geosparql:Feature ;
            rdfs:label "Building A"@en ;
            geosparql:hasGeometry [ 
                a geosparql:Geometry ;
                geosparql:asWKT "..."^^geosparql:wktLiteral ] .
        <system/OPS> a poso:LocationBasedService ;
            rdfs:label "Outdoor campus positioning"@en ;
            ssn:hasSubSystem poso-common:GPS ;
            ssn:hasDeployment dbr:Some_University .
        <system/IPS> a poso:IndoorPositioningSystem ;
            rdfs:label "Indoor campus positioning"@en ;
            ssn:hasDeployment <deployment/building_a> ;
            ssn:implements poso-common:KNNFingerprinting .
        <system/CampusPositioning> a poso:IntegratedPositioningSystem ;
            rdfs:label "Hybrid campus positioning system"@en ;
            ssn:hasSubSystem  <system/OPS>, <system/IPS> ;
            ssn:implements poso-common:WeightedAccuracyFusion .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Conclusion and Future Work
            - We presented the new **POSO** ontology
        {% endmarkdown %}
        
        <aside class="notes">
        
        </aside>
    </section>
</section>
