---
layout: presentation.njk
title: "POSO: A Generic Positioning System Ontology"
presentation_title: "POSO: A Generic Positioning System Ontology"
excerpt: "ISWC 2022 presentation"
author: <u>Maxim Van de Wynckel</u> and Beat Signer
logo: true
width: 1280
height: 720
affiliation: Web & Information Systems Engineering Lab</br>Vrije Universiteit Brussel
hide_openhps_logo: true
---
{% decktape title, page %}  <!-- 15 seconds -->

<section>
    <section data-markdown data-auto-animate data-timing="20">
        {% markdown %}
            ## POsitioning System Ontology
            ### Introduction

            > POSO provides the terminologies needed to describe different **types of positioning systems**, the **algorithms** and technnologies
            that they implement and the **data** that is produced by these systems.
        {% endmarkdown %}

        <aside class="notes">
            To quickly introduce you to POSO, in this paper we introduce a new ontology that provides the terminologies
            needed to describe the different types of positioning systems and the algorithms, technologies and
            techniques that they implement. It also helps to describe the data these systems produce without loosing
            any information.
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Location-based Services

        {% endmarkdown %}
        <img style="width: 100%" src="./images/lbs1.svg">
        <aside class="notes">
            If we look at existing semantic descriptions, spatial data is an important aspect to describe
            various spaces and the objects inside them and a lot of ontologies already exist that do exactly this.

            However, if we take a step back and we look at how this data was determined, we often see it was done using a
            positioning system or a location-based service that accesses a positioning system behind the scenes. 
            
            While a location-based service aims to provide you with a nice clean geographical location, maybe even with some
            additional context such as the accuracy. The system working behind the scenes has a lot more information. In addition we do not
            know how the output of a location-based service was computed.
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Location-based Services ...
        {% endmarkdown %}
        <img style="width: 100%" src="./images/lbs1.svg">
        <img style="width: 100%" src="./images/lbs2.svg">
        <aside class="notes">
            On the slide you see two similar output positions from two location based services. 
            For consumers of this data, the output has enough context to use it. However, for other positioning systems
            that want to use further compute or reason about the data there is a lack of information. 
            
            With POSO we aim to describe the process that led to a certain output, which in our case means the description of the system
            that works behind the scenes. Using this additional information another positioning system knows how to reason on
            the output or know how to perform high level sensor fusion.
        </aside>
    </section>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Methodology
        1. Design constraints 
        2. First basic prototype (IPIN 2022)
        3. Mapping of POSO to our framework
    {% endmarkdown %}

    <aside class="notes">
        Our methodology of the ontology design was based on our own generic positioning system named OpenHPS
        as well as existing datasets for positioning systems such as UJIndoorLoc or the ambient assisted living evaluation competition. 
        Our design constraints for the ontology that we designed were very similar to the design constraints of our framework.

        We created a first prototype for the Indoor Positioning and Indoor Navigation conference where we only used some of the core 
        ontologies. With the prototype we realised that there currently were no ontologies available to correctly describe a complete positioning
        system, which led us to create POSO.

        In order to test if the POSO ontology could represent all data that makes up a positioning system we mapped all the data types
        that we use in our positioning systems to RDF using POSO.
    </aside>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Positioning System
        {% endmarkdown %}
        <img width="70%" src="images/architecture.svg"/>

        <aside class="notes">
            When creating the design for our ontology we first identified what actually defines a positioning system.

            A positioning system is a system that aims to track entities in a certain area. These entities can be objects, persons
            or basically any spatial thing. We usually deploy this positioning system at the area where this tracking
            should be done. Weither it is on another planet, a building, an underground metro track or something more 
            abstract like tracking pawns on a physical game board.

            The system uses various different algorithms and technnologies that are used to
            track an entity. Each entity on itself has different properties, such their position,
            their orientation or velocity that are important for the algorithms to determine their
            position.
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Positioning System ...
        {% endmarkdown %}
        <div class="row systems">
            <div class="col-sm-6">
                {% markdown %}
                    - Satellite positioning systems

                    ![](./images/gps.jpg){ .positioning-system-image }
                    - Optical positioning systems

                    ![](./images/camera.jpg){ .positioning-system-image }![](./images/stereocamera.jpg){ .positioning-system-image }
                {% endmarkdown %}
            </div>
            <div class="col-sm-6">
                {% markdown %}
                    - Inertial positioning systems

                    ![](./images/imu.jpg){ .positioning-system-image }
                    - Integrated positioning systems

                    ![](/images/logo.svg){ .positioning-system-image }
                    - Indoor positioning systems

                    ![](./images/indooratlas.png){ .positioning-system-image }
                {% endmarkdown %}
            </div>
        </div>
        <style>
            .reveal img.positioning-system-image {
                object-fit: cover;
                object-position: center center;
                height: 4em;
                width: 500px;
                margin: 0;
            }
        </style>    
        <aside class="notes">
        There are five main types of positioning systems. We identified these based on existing ISO standards. 
        A satellite positioning system such as GPS, Baidu or Galileo; an optical positioning system
        that makes use of optical imagery to determine a position, inertial positining systems that detect the movement,
        integrated or also called hybrid positioning system that combines other systems or various technnologies to obtain a result.
        Finally, indoor positioning systems that could be a 
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Tracked Entities and Their Properties
        {% endmarkdown %}
        <img src="./images/properties.svg" style="width: 100%"/>
        <aside class="notes">
            Aside from being able to describe a positioning system, we also wanted to describe the data they produce
            in a way that would be interoperable by other systems.

            Historical data is important for many positioning systems, so one design criteria was definitely to have
            all the date in a time series. The most important data of a positioning system was a position,
            orientation and velocity. But the ontology should still allow for extensions of other sensor data if needed.

            Finally, a positioning system may provide a position with different granularities. For example, an indoor positioning
            system might be able to track your location in an office with 1 meter accuracy. But that would not mean that you want
            other systems to know this accurate position.
        </aside>
    </section>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Ontology Design
        {% endmarkdown %}
        <aside class="notes">
            We decided to use the Semantic Sensor Network Ontology together with the Sensor, Observation, Sample and Actuator
            ontology - or SOSA for short.
        </aside>
    </section>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Tracked Entities (`poso:TrackedFeature`)

        *A feature of interest that is being tracked by a positioning system. This is the feature for which a position is observed.*
        
        **Example:**
        ```turtle
        <me> a poso:TrackedFeature, foaf:Person ;
            foaf:name "Maxim Van de Wynckel"@en ;
            poso:hasPosition <me/position> ;
            poso:hasOrientation <me/orientation> .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Entity Properties (`sosa:Property`)

            *A feature of interest that is being tracked by a positioning system. This is the feature for which a position is observed.*
            
            **Example:**
            ```turtle
            <me/position> a poso:AbsolutePosition ;
                rdfs:comment "Absolute position of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/position/accuracy> a ssns:Accuracy ;
                schema:maxValue "25.0"^^xsd:float ; schema:unitCode unit:CentiM .
            
            <me/orientation> a poso:Orientation ;
                rdfs:comment: "" .
            ```
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Entity Properties ...
            ### Granularity

            **Example:**
            ```turtle
            <me> a poso:TrackedFeature, foaf:Person ;
                foaf:name "Maxim Van de Wynckel"@en ;
                poso:hasPosition <me/position>, <me/location> ;

            <me/position> a poso:AbsolutePosition ;
                rdfs:comment "Absolute position of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/position/accuracy> a ssns:Accuracy ;
                schema:maxValue "25.0"^^xsd:float ; schema:unitCode unit:CentiM .
            
            <me/location> a poso:AbsolutePosition ;
                rdfs:comment "Approximate Location of Maxim Van de Wynckel"@en ;
                poso:hasAccuracy <me/position/accuracy> .
            <me/location/accuracy> a ssns:Accuracy ;
                schema:minValue "10.0"^^xsd:float ; schema:unitCode unit:M .
            ```
        {% endmarkdown %}
        <aside class="notes">
        
        </aside>
    </section>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## POSO Common module (`posoc`)
        ### `http://purl.org/poso/common/`

        - Adds common positioning systems, algorithms and types.
    {% endmarkdown %}

    <aside class="notes">
        
    </aside>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Example
    {% endmarkdown %}
    <img style="height: 80%" src="./images/example.svg"/>
    <aside class="notes">
        
    </aside>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Example
        ### Positioning System

        ```turtle
        dbr:Some_Unversity a ssn:Deployment .
        <deployment/building_a> a poso:IndoorDeployment, geosparql:Feature ;
            rdfs:label "Building A"@en ;
            geosparql:hasGeometry [ 
                a geosparql:Geometry ;
                geosparql:asWKT "..."^^geosparql:wktLiteral ] .
        <system/OPS> a poso:LocationBasedService ;
            rdfs:label "Outdoor campus positioning"@en ;
            ssn:hasSubSystem posoc:GPS ;
            ssn:hasDeployment dbr:Some_University .
        <system/IPS> a poso:IndoorPositioningSystem ;
            rdfs:label "Indoor campus positioning"@en ;
            ssn:hasDeployment <deployment/building_a> ;
            ssn:implements posoc:KNNFingerprinting .
        <system/CampusPositioning> a poso:IntegratedPositioningSystem ;
            rdfs:label "Hybrid campus positioning system"@en ;
            ssn:hasSubSystem  <system/OPS>, <system/IPS> ;
            ssn:implements posoc:WeightedAccuracyFusion .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Example
        ### Observation

        ```turtle
        <position/1654350300000> a sosa:Observation ;
            sosa:hasFeatureOfInterest <me> ;
            sosa:observedProperty  <me/position> ;
            sosa:resultTime "2022-06-04T15:55:00+02:00"^^xsd:dateTimeStamp ;
            poso:usedSystem <system/OPS> ;
            sosa:hasResult [ a geosparql:Geometry ;
                geosparql:hasSpatialAccuracy [ a qudt:QuantityValue ;
                    qudt:unit unit:CentiM ; qudt:numericValue "28"^^xsd:float ] ;
                geosparql:asWKT """
                    <http://www.opengis.net/def/crs/OGC/1.3/CRS84>
                    Point(4.888028 50.31397)"""^^geosparql:wktLiteral ;
                geosparql:dimension 2 ] .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Example
        ### Observation

        ```turtle
        <position/1647513000000> a sosa:Observation ;
            sosa:hasFeatureOfInterest <me> ;
            sosa:observedProperty  <me/position> ;
            sosa:resultTime "2022-03-17T11:30:00+01:00"^^xsd:dateTimeStamp ;
            sosa:usedProcedure posoc:KNNFingerprinting ;
            poso:usedSystem <system/IPS> ;
            sosa:hasResult [ a poso:AbsolutePosition ;
                poso:inDeployment <deployment/building_a> ;
                poso:hasAccuracy [ a ssns:Accuracy ;
                    schema:maxValue "25.0"^^xsd:float ; 
                    schema:unitCode unit:CentiM ] ;
                poso:xAxisValue [ a qudt:QuantityValue ;
                    qudt:unit unit:M ; qudt:numericValue "5"^^xsd:double ] ;
                poso:yAxisValue [ a qudt:QuantityValue ;
                    qudt:unit unit:M ; qudt:numericValue "6"^^xsd:double ] ;
                poso:zAxisValue [ a qudt:QuantityValue ;
                    qudt:unit unit:M ; qudt:numericValue "3.5"^^xsd:double ] ] .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section data-markdown data-auto-animate data-timing="40">
    {% markdown %}
        ## Example
        ### Configuration

        ```turtle
        <landmark/wap_1> a poso:Landmark ;
        rdfs:label "Wireless Access Point 1"@en ;
        poso:hasPosition [ a poso:AbsolutePosition ;
            poso:hasAccuracy [ ... ] ;
            poso:xAxisValue [ ... ] ;
            poso:yAxisValue [ ... ] ;
            poso:zAxisValue [ ... ] ] .
        <me/position/relative/wap_1> a poso:RelativeDistance ;
        ssn:isPropertyOf <me> ; # Relative distance from <me> ...
        poso:isRelativeTo <landmark/wap_1> ; # to <landmark/wap_1>
        rdfs:comment "Relative position of John Doe to WAP_1"@en .
        <position/relative/wap_1/1646891100000> a sosa:Observation ;
        sosa:hasFeatureOfInterest <me>, <landmark/wap_1> ;
        sosa:observedProperty  <me/position/relative/wap_1> ;
        sosa:resultTime "2022-03-10T06:45:00+01:00"^^xsd:dateTimeStamp ;
        poso:madeBySystem <system/IPS> ;
        sosa:usedProcedure poso-common:LDPL ; # Log-distance path loss
        sosa:hasResult [ a qudt:QuantityValue ;
            qudt:unit unit:Meter ; qudt:value "3.7"^^xsd:double ] ;
        sosa:hasResult [ a qudt:QuantityValue ;
            qudt:unit unit:DeciB_M ; qudt:value "-82"^^xsd:integer ] .
        ```
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section>
    <section data-markdown data-auto-animate data-timing="40">
        {% markdown %}
            ## Conclusion and Future Work
            - We presented the new **POSO** ontology
            - Allignment modules for specific types of algorithms
            - Interoperability between positioning systems
        {% endmarkdown %}
        {% qr "https://github.org/OpenHPS/POSO", "qr-image", "H" %}
        <style>
        .qr-image {
            position: absolute;
            left: 0em;
            bottom: 1em;
            width: 300px;
            height: 300px;
            float: right;
        }
        </style>
        <aside class="notes">
        In this paper we presented our Positioning System Ontology named POSO. This is a new
        ontology that we have slowly started to use

        We hope that POSO will help in creating interoperable positioning and navigation applications. Which could
        allow us to transition to a single interoperable application to navigate both outdoors, indoor or underground.

        Thank you for your attention.
        </aside>
    </section>
</section>
