.typography {
    .btn {
        width: 220px;
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
    }

    .btn-header {
        margin-bottom: 30px;
    }
    
    .btn i {
        margin-right: 8px;
    }
    
    .btn-red {
        background-color: #9c0000;
        color: white;
    }
    .btn-red:hover {
        background-color: #c20404;
    }

    .btn-green {
        background-color: #009c08;
        color: white;
    }
    .btn-green:hover {
        background-color: #04c20e;
    }
}
