---
layout: presentation.njk
---

<section>
    <h2>Next Generation User Interfaces</h2>
    <h4>Indoor Positioning and Location Awareness</h4>
    <small>Maxim Van de Wynckel</small>
</section>
<section data-markdown>
    {% markdown %}
        ## Indoor Positioning System
        
        "*An indoor positioning system (IPS) is a network of devices used to locate people or objects where GPS and other satellite technologies lack precision or fail entirely, such as inside multistory buildings, airports, alleys, parking garages, and underground locations.*"
        
        [<small>*- Wikipedia (2021)*</small>](https://en.wikipedia.org/wiki/Indoor_positioning_system)
    {% endmarkdown %}
</section>
<section data-markdown>
    {% markdown %}
        ## Location Awareness
        
        "*Location awareness refers to devices that can passively or actively determine their location.*"
        
        [<small>*- Wikipedia (2021)*</small>](https://en.wikipedia.org/wiki/Location_awareness)
    {% endmarkdown %}
</section>
<section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ## Use Cases
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate class="left">
        {% markdown %}
            ### Indoor Navigation
            <img src="./images/indoor-navigation.png" width="40%"></br>
            [<small>*- Gatwick Airport Limited (2017)*</small>](http://www.mediacentre.gatwickairport.com/press-releases/2017/17_05_25_beacons.aspx)
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate class="left">
        {% markdown %}
            ### Asset Tracking
            - Track the location of expensive items
            - Material resource planning
            - Personnel tracking
            <img src="./images/apple-airtag.jpg" width="40%"></br>
            [<small>*- LetsGoDigital (2021)*</small>](https://nl.letsgodigital.org/accessoires/apple-airtag/)
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate class="left">
        {% markdown %}
            ### Implicit Interaction
            - Home automation
            - Resource assigning
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ### Autonomous Robots
            <img src="./images/roborock.jpg" width="40%"></br>
            [<small>*- Jim Martin (2019)*</small>](https://www.techadvisor.com/review/roborock-s6-3696730/)
        {% endmarkdown %}
    </section>
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Positioning Technologies
        - RF-based <small>(Wi-Fi, Bluetooth, UWB)</small>
        - Sound-based <small>(Ultrasound beacons, ambient noise)</small>
        - Camera-based <small>(VSLAM, MTMC, VLC)</small>
        - IMU-based <small>(acceleration, velocity, geomagnetic)</small>
        - *Many more ...*
    {% endmarkdown %}
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Positioning Algorithms
        - Fingerprinting <small>(k-NN, affinity propagation, clustering, ...)</small>
        - Mathematical <small>(triangulation, multilateration, ...)</small>
        - Dead reckoning
        - Sensor fusion <small>(complementary filters, probabilistic, ...)</small>
        - Cartographing
        - *Many more ...*
    {% endmarkdown %}
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Bluetooth beacons
        A small (battery powered) device that sends out a BLE advertisement in a fixed interval.

        **Algorithms:**
        - Fingerprinting
        - Multilateration, Cell-Identification
    {% endmarkdown %}
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Ultra wideband
        A small (battery powered) device that sends out an RF signal over a large band, allowing to achieve
        more predictable signal strength readings.

        **Algorithms:**
        - Multilateration
    {% endmarkdown %}
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Wi-Fi access points
        Existing Wi-Fi infrastructure to predict the position based on the signal strength or time of flight (on supported access points).

        **Algorithms:**
        - Fingerprinting
        - Multilateration
    {% endmarkdown %}
</section>
<section data-markdown class="left">
    {% markdown %}
        ## Inertial Measurement Unit (IMU sensor)
        

        **Algorithms:**
        - Dead reckoning (raw, pedometer)
    {% endmarkdown %}
</section>
<section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            <img src="/images/logo_alpha_text.svg" width="40%"></br>
            *An Open Source Hybrid Positioning System*
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate class="left">
        {% markdown %}
            #### About
            - Website: [https://openhps.org](https://openhps.org)
            - Twitter: [@OpenHPS](https://twitter.com/OpenHPS)
        {% endmarkdown %}
    </section>
</section>
<section data-markdown>
    {% markdown %}
        ## Process network
    {% endmarkdown %}
</section>
<section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ## ```DataObject```
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ## ```DataObject```
            #### Creation
            ```typescript
            import { DataObject } from '@openhps/core';
            const maxim = new DataObject("mvdewync@vub.be", "Maxim Van de Wynckel");
            ```
        {% endmarkdown %}
    </section>
</section>
<section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ## Absolute and Relative Position
            - Physical 2D, 3D or geographic position: ```AbsolutePosition```
            - Relative position to another object: ```RelativePosition```
            - Each position contains an orientation and velocity
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ## ```AbsolutePosition```
            ### Default Types
            - ```Absolute2DPosition```
            - ```Absolute3DPosition```
            - ```GeographicalPosition```
        {% endmarkdown %}
    </section>
    <section data-markdown data-auto-animate>
        {% markdown %}
            ### ```Absolute2DPosition```
            #### Creation
            ```ts twoslash
            import { 
                Absolute2DPosition, 
                Orientation, 
                LinearVelocity 
            } from '@openhps/core';
            
            const pos = new Absolute2DPosition(1, 4);
            pos.orientation = Orientation.fromEuler({
                yaw: 0,
                pitch: 0,
                roll: 0
            });
            pos.linearVelocity = new LinearVelocity(1, 0, 0);
            ```
        {% endmarkdown %}
    </section>
</section>
<section data-markdown>
    {% markdown %}
        ## ```DataFrame```
    {% endmarkdown %}
</section>