@charset "utf-8";

$on-palm:          768px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@import '../node_modules/markdown-it-latex/dist/index.css';
@import "includes/normalize";
@import "includes/constants";
@import "includes/grid";
@import "includes/typography";
@import "includes/twoslash";

@import "components/header";
@import "components/footer";
@import "components/home";
@import "components/navigation";
@import "components/posts";
@import "components/button";

.site-header {
    border-top: 5px solid #9c0000;
}

.site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    border-radius: 5px;
    text-align: right;
  
    .nav-trigger {
      display: none;
    }
  
    .menu-icon {
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
  
      > svg path {
        fill: #9c0000;
      }
    }
  
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
  
    input ~ .trigger {
      clear: both;
      display: none;
    }
  
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      background: white;
      margin-right: -15px;
      padding-right: 15px;
      z-index: -1;
    }
  
    .page-link {
      color: #111;
      line-height: 60px;
      display: block;
      padding: 5px 10px;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  
    @media screen and (min-width: $on-medium) {
      position: static;
      float: right;
      border: none;
      background-color: inherit;
  
      label[for="nav-trigger"] {
        display: none;
      }
  
      .menu-icon {
        display: none;
      }
  
      input ~ .trigger {
        display: block;
      }
  
      .page-link {
        display: inline;
        padding: 0;
  
        &:not(:last-child) {
          margin-right: 20px;
        }
        margin-left: auto;
      }
    }
}

.html5-video-player {
  max-width: 100%;
  width: 600px;
  margin: auto;
}

.main {
    overflow-x: auto;
}
