// Default mixins and settings -----------------
@import "../node_modules/reveal.js/css/theme/template/mixins";
@import "../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #9c0000;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 36px;
$mainFont: "Source Sans Pro";
$headingFont: "Source Sans Pro";
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #ffffff;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import "../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal small {
    vertical-align: unset;
}

.reveal section.left {
    text-align: left;
}

h1, h2, h3, h4 {
    text-transform: none;
}
