---
layout: default.njk
---

<div class="container main">
  <div class="row">
    <div class="col-sm-2">
      {% include "docs_menu.njk" %}
    </div>
    <div class="col-sm-9 typography">
      {{ content | safe }}
    </div>
  </div>
</div>
