---
layout: default.njk
---

<div class="jumbotron">
  <div class="visual">
    <div class="container-wrap">
      <div class="container">
        <div class="row logos">
          <div id="logo-vub" class="col-sm-4 jumbotron-logo"></div>
          <div id="logo-wise" class="col-sm-4 jumbotron-logo"></div>
          <div id="logo-openhps" class="col-sm-4 jumbotron-logo"></div>
        </div>
        <h1 class="body">
          OpenHPS - An Open Source Hybrid Positioning System
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container main typography home">
  <div class="row">
    <div class="col-sm-8">
      {{ content | safe }}
      {% set maxPosts = collections.posts.length | min(3) %}
      <h2>Latest News</h2>
      {% set postslist = collections.posts | head(-3) %}
      {% include "postslist.njk" %}
    </div>
    <div class="col-sm-4">      
      <div class="twitter-wrapper">
        {# <div class="twitter-timeline-footer">
          Tweets by OpenHPS
        </div> #}
        <a class="twitter-timeline" 
          data-lang="en" data-dnt="true"
          href="https://twitter.com/OpenHPS?ref_src=twsrc%5Etfw">
        </a>
      </div>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>