---
layout: default.njk
---

<div class="jumbotron">
  <div class="visual">
    <div class="container-wrap">
      <div class="container">
        <div class="row logos">
          <div id="logo-vub" class="col-sm-4 jumbotron-logo"></div>
          <div id="logo-wise" class="col-sm-4 jumbotron-logo"></div>
          <div id="logo-openhps" class="col-sm-4 jumbotron-logo"></div>
        </div>
        <div class="body">
          OpenHPS - An Open Source Hybrid Positioning System
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main typography home">
  <div class="row">
    <div class="col-sm-9">
      {{ content | safe }}
    </div>
    <div class="col-sm-3">
      {% set maxPosts = collections.posts.length | min(3) %}
      <h2>Latest News</h2>
      {% set postslist = collections.posts | head(-3) %}
      {% set postslistCounter = collections.posts | length %}
      {% include "postslist.njk" %}
      
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/OpenHPS?ref_src=twsrc%5Etfw">Tweets by OpenHPS</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>