<!DOCTYPE html>
<html>
  {% include "head.njk" %}

  <body>
    <link rel="stylesheet" href=".vendor/reveal.js/reset.css">
    <link rel="stylesheet" href="/vendor/reveal.js/reveal.css">
    <link rel="stylesheet" href="/css/presentation.css" id="theme">

    <div class="reveal">
        <div class="slides">
            {{ content | safe }}
        </div>
    </div>

    <script src="/vendor/reveal.js/reveal.js"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,
            margin: 0.10,
            plugins: [],
        });
    </script>
  </body>
</html>
