---
layout: default.njk
---

<div class="container main">
    <div class="row">
        <div class="col-sm-3">
            {% include "publication_menu.njk" %}
        </div>
        <div class="col-sm-9 typography">
            <h1>{{ title }}</h1>

            <a href="{{ pdf }}" class="btn btn-red btn-icon" data-title="Download paper PDF"><i class="fa fa-file-pdf-o"></i></a>
            {% if presentation %}
            <a href="{{ presentation }}" class="btn btn-green btn-icon" data-title="Download presentation"><i class="fa fa-file-powerpoint-o"></i></a>
            {% endif %}
            {% if video %}
            <a href="{{ video }}" class="btn btn-blue btn-icon" data-title="Download video"><i class="fa fa-file-video-o"></i></a>
            {% endif %}
            {% if link %}
            <a href="{{ link }}" class="btn btn-yellow btn-icon"><i class="ai ai-{{ type }}"></i></a>
            {% endif %}

            <h2>Abstract</h2>

            <p class="abstract">{{ abstract }}</p>

            <h2>Citation</h2>
            <p class="cite">{{ excerpt }}</p>

            {% pdfembed pdf, 'FULL_WINDOW', 'pdf-viewer' %}
        </div>
    </div>
</div>
